body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  }

  .bg-img {
    background-image: url(plasma.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
  }

  .text {
    position: absolute;
    background-color: white;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Titillium Web';
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    width: 30%;
    top: 25%;
    left: 25%;
    right: 25%;
    transform: translate(-5%, -5%);
    mix-blend-mode: screen;

  }
